workflow-O58ZyWBaTtVkE13B.json
{
  "updatedAt": "2025-12-31T18:03:54.418Z",
  "createdAt": "2025-12-16T16:36:15.444Z",
  "id": "O58ZyWBaTtVkE13B",
  "name": "Email Parser - Portails Immobiliers - WhatsApp",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-reception",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "41a12e6a-5bcc-42ac-b3e8-e83e4055efc1",
      "name": "Webhook - Email Reception",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        0
      ],
      "webhookId": "46141750-b609-4b2e-bce9-7c500c73d358",
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "Tu es un expert en extraction de données (Parser). Analyse l'email immobilier ci-dessous. Extrais STRICTEMENT les entités suivantes au format JSON valide, sans texte avant ni après (pas de markdown ```json) :\n- first_name (String, Capitalize, 'Inconnu' si vide)\n- last_name (String, UPPERCASE, 'Inconnu' si vide)\n- phone (String, format international +33..., nettoyer espaces/points)\n- email (String)\n- portal_source (String, ex: SeLoger, Leboncoin, BienIci)\n- property_ref (String, référence du bien)\n- user_message (String, le message du client nettoyé des signatures)\n- lead_intent (String, Enum: 'VISITE', 'INFO', 'GENERIQUE')",
              "role": "system"
            },
            {
              "content": "=Sujet : {{ $json.subject || $json.body.subject }}\nCorps : {{ $json.text || $json.body.text }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "880f957c-1745-4e99-aff3-ac48e303dc07",
      "name": "OpenAI Parser",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        448,
        0
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "jmxBwWWH5iwSDGDl",
          "name": "Immocope - Dashboard"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupération sécurisée du contenu (peu importe comment OpenAI le nomme)\nconst inputData = $input.first().json;\n// On cherche dans text, message.content, content ou output\nconst openaiResponse = inputData.text || inputData.message?.content || inputData.content || inputData.output;\n\nif (!openaiResponse) {\n  throw new Error(\"Aucune réponse trouvée dans le nœud OpenAI précédent\");\n}\n\ntry {\n  let cleanedResponse = openaiResponse.trim();\n  \n  // Nettoyage des balises Markdown (```json et ```)\n  cleanedResponse = cleanedResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  \n  // Conversion du texte en Objet JSON\n  const parsedData = JSON.parse(cleanedResponse);\n  \n  return { json: parsedData };\n\n} catch (error) {\n  // En cas d'erreur, on renvoie un objet vide propre pour ne pas casser le workflow\n  return {\n    json: {\n      first_name: 'Inconnu',\n      last_name: 'Inconnu',\n      phone: null,\n      email: null,\n      portal_source: 'Erreur',\n      property_ref: null,\n      user_message: openaiResponse, // On garde le message brut au cas où\n      lead_intent: 'ERREUR_PARSING',\n      error: error.message\n    }\n  };\n}"
      },
      "id": "cab1c173-5752-41a9-8f4e-89e060d13b17",
      "name": "JSON Parser",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appAlX54ulRh5izR8",
          "mode": "list",
          "cachedResultName": " Immocope - Base LQ",
          "cachedResultUrl": "https://airtable.com/appAlX54ulRh5izR8"
        },
        "table": {
          "__rl": true,
          "value": "tbln5eyKql7jYhoMv",
          "mode": "list",
          "cachedResultName": "LEADS",
          "cachedResultUrl": "https://airtable.com/appAlX54ulRh5izR8/tbln5eyKql7jYhoMv"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PAUSE_IA": false,
            "Phone": "={{ $('JSON Parser').item.json.phone }}",
            "Nom": "={{ $('JSON Parser').item.json.last_name }}",
            "Prénom": "={{ $('JSON Parser').item.json.first_name }}",
            "Bien_Associe": "={{ $('JSON Parser').item.json.property_ref }}",
            "Conversation_JSON": "={{ $json.full_conversation_json }}",
            "Email": "={{ $('JSON Parser').item.json.email }}",
            "Notes": "={{ $('JSON Parser').item.json.lead_intent }}",
            "Source": "={{ $('JSON Parser').item.json.portal_source }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bien_Associe",
              "displayName": "Bien_Associe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Délai",
              "displayName": "Délai",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Projet",
              "displayName": "Projet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Conversation_JSON",
              "displayName": "Conversation_JSON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Financement",
              "displayName": "Financement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "CHAUD",
                  "value": "CHAUD"
                },
                {
                  "name": "TIEDE",
                  "value": "TIEDE"
                },
                {
                  "name": "FROID",
                  "value": "FROID"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Thread_ID",
              "displayName": "Thread_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date de création",
              "displayName": "Date de création",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Dernière mise à jour",
              "displayName": "Dernière mise à jour",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Agent_en_charge",
              "displayName": "Agent_en_charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date_prise_en_charge",
              "displayName": "Date_prise_en_charge",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PAUSE_IA",
              "displayName": "PAUSE_IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_visite",
              "displayName": "date_visite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Google_Calendar_Event_ID",
              "displayName": "Google_Calendar_Event_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "105b377c-a96e-47e1-bba8-ffef4a4f68b0",
      "name": "Airtable - Upsert Lead",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2032,
        0
      ],
      "typeVersion": 2,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "airtableTokenApi": {
          "id": "fRYDSYa6kI0PBzDW",
          "name": "Immocope - BASE LQ"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "c42105b0-b3eb-45c6-8e35-308ca1ed644b",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "941847569010457",
        "recipientPhoneNumber": "={{ $('JSON Parser').item.json.phone }}",
        "textBody": "={{ $('Message a model').item.json.output[0].content[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2256,
        0
      ],
      "id": "a25a11bc-a57b-45cd-87df-4aefa74fb1e1",
      "name": "Send message",
      "webhookId": "f5781089-18f3-4606-8c17-f7cc8ad2af6d",
      "credentials": {
        "whatsAppApi": {
          "id": "JsMi22nlMo36M4Ip",
          "name": "WhatsApp account Ali"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appAlX54ulRh5izR8",
          "mode": "list",
          "cachedResultName": " Immocope - Base LQ",
          "cachedResultUrl": "https://airtable.com/appAlX54ulRh5izR8"
        },
        "table": {
          "__rl": true,
          "value": "tbltRiy8gtlyMWV0V",
          "mode": "list",
          "cachedResultName": "BIENS",
          "cachedResultUrl": "https://airtable.com/appAlX54ulRh5izR8/tbltRiy8gtlyMWV0V"
        },
        "filterByFormula": "=\"={Reference} = '{{ $json.property_ref }}'\"",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1024,
        0
      ],
      "id": "04981be4-fa25-47db-b93c-8907e56cecaa",
      "name": "Get Property",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "airtableTokenApi": {
          "id": "fRYDSYa6kI0PBzDW",
          "name": "Immocope - BASE LQ"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Tu es Sarah, assistante immobilière.\nTon objectif : Répondre au premier contact d'un client par WhatsApp.\n\nStructure OBLIGATOIRE de ta réponse :\n\n1.RÈGLE D'INTRODUCTION (PREMIER MESSAGE UNIQUEMENT) :\nSi c'est le tout début de la conversation, tu DOIS commencer par cette phrase exacte :\n\"Sarah - Équipe Immocope\n\nBonjour,\n\nVous venez d'envoyer un message sur Leboncoin au sujet de [Description]. \"\n##SAUT DE LIGNE\n2. Réponds précisément à la question du client en utilisant les infos du bien ci-dessous. (Si l'info est absente, dis simplement \"Je vérifie ce point précis\").\n3. Enchaîne IMMÉDIATEMENT (avec saut de ligne ) par cette question de qualification : \"C'est pour un investissement ou pour y habiter ?\"\n\nTON : SMS, direct, concis, chaleureux. Max 2 phrases avant la question finale."
            },
            {
              "content": "=INFOS DU BIEN :\nDescription : {{ $json.Description || 'Non disponible' }}\nInfos Techniques : {{ $json.Infos_Techniques || 'Non disponible' }}\nPrix : {{ $json.Prix || 'Non disponible' }}\n\nQUESTION DU CLIENT :\n\"{{ $('JSON Parser').item.json.user_message }}\"\n\nRédige la réponse maintenant."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1456,
        0
      ],
      "id": "5ded5dee-600a-4700-97e5-686c69e9b868",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "jmxBwWWH5iwSDGDl",
          "name": "Immocope - Dashboard"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupérer le message du PROSPECT (depuis le parser)\nconst userMessage = $('JSON Parser').item.json.user_message || \"Message initial non détecté\";\n\n// 2. Récupérer la réponse de l'IA (Correction du chemin)\nconst inputData = $input.first().json;\n\n// On va chercher : output[0] -> content[0] -> text\n// Les '?' servent à éviter le crash si une case est vide\nconst aiResponse = inputData.output?.[0]?.content?.[0]?.text || \"Pas de réponse IA\";\n\n// 3. Construire le tableau d'historique\nconst history = [\n  {\n    role: \"user\",\n    text: userMessage,\n    time: new Date().toISOString()\n  },\n  {\n    role: \"assistant\",\n    text: aiResponse,\n    // On ajoute 2 secondes pour qu'il s'affiche bien APRÈS le message user\n    time: new Date(new Date().getTime() + 2000).toISOString()\n  }\n];\n\n// 4. Renvoyer le JSON pour Airtable\nreturn {\n  json: {\n    // On garde les données de l'IA pour la suite\n    ...inputData,\n    // La variable pour le Dashboard\n    full_conversation_json: JSON.stringify(history)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        0
      ],
      "id": "f2f6f7c2-211f-4caa-a4b5-479bb1540050",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25f6970c-00c3-4827-9423-9736a52d9940",
              "leftValue": "={{ $json.Type }}",
              "rightValue": "Vente",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        32
      ],
      "id": "4eff6f7c-f9db-4071-9c2c-53ec7c29fd8b",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Réception des mails et extraction des informations\n",
        "height": 448,
        "width": 1024
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -176
      ],
      "typeVersion": 1,
      "id": "72890b81-4c1b-4924-a171-edccb799facc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Vérification du type (Locaton / Vente)",
        "height": 592,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -240
      ],
      "typeVersion": 1,
      "id": "853e9267-86c7-4620-bc16-bfc9d0bd25aa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1504,
        416
      ],
      "id": "bf4b93af-a133-43ef-83be-e9ee1794df7d",
      "name": "STOP"
    },
    {
      "parameters": {
        "content": "## Rédaction de la réponse -> Enregistrement des infos dans le CRM - > Envoie du message",
        "height": 304,
        "width": 1072,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -112
      ],
      "typeVersion": 1,
      "id": "12912e62-7a94-44b5-9f74-002381c190f4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## AJOUTER NOEUD CRM",
        "height": 128,
        "width": 160,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        192
      ],
      "typeVersion": 1,
      "id": "5168c503-44e7-4e8a-bfee-66987ab75c94",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## REMPLACER PAR NOEUD CRM",
        "height": 112,
        "width": 176,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -112
      ],
      "typeVersion": 1,
      "id": "d4428f49-96bf-4102-8819-1f090332f02e",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "JSON Parser": {
      "main": [
        [
          {
            "node": "Get Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Parser": {
      "main": [
        [
          {
            "node": "JSON Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Upsert Lead": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Email Reception": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "OpenAI Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Airtable - Upsert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "STOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5dcb8077-6d80-42f4-bf08-cb47941a5f86",
  "activeVersionId": "5dcb8077-6d80-42f4-bf08-cb47941a5f86",
  "versionCounter": 46,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-16T16:36:15.444Z",
      "createdAt": "2025-12-16T16:36:15.444Z",
      "role": "workflow:owner",
      "workflowId": "O58ZyWBaTtVkE13B",
      "projectId": "Nt7CBSZjVZH0vFTL",
      "project": {
        "updatedAt": "2025-12-15T18:19:15.684Z",
        "createdAt": "2025-12-15T16:23:55.471Z",
        "id": "Nt7CBSZjVZH0vFTL",
        "name": "Ali Mekzine <nezimk@outlook.fr>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-15T16:23:55.471Z",
            "createdAt": "2025-12-15T16:23:55.471Z",
            "userId": "2ab68add-6f42-4dae-b822-46536c971ccf",
            "projectId": "Nt7CBSZjVZH0vFTL",
            "user": {
              "updatedAt": "2026-01-02T07:46:24.565Z",
              "createdAt": "2025-12-15T16:23:53.958Z",
              "id": "2ab68add-6f42-4dae-b822-46536c971ccf",
              "email": "nezimk@outlook.fr",
              "firstName": "Ali",
              "lastName": "Mekzine",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-15T18:19:51.580Z",
                "personalization_survey_n8n_version": "1.123.6",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "O58ZyWBaTtVkE13B",
                "userActivatedAt": 1765989580544,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766569006253
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-31T18:03:57.050Z",
    "createdAt": "2025-12-31T18:03:54.422Z",
    "versionId": "5dcb8077-6d80-42f4-bf08-cb47941a5f86",
    "workflowId": "O58ZyWBaTtVkE13B",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "email-reception",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "41a12e6a-5bcc-42ac-b3e8-e83e4055efc1",
        "name": "Webhook - Email Reception",
        "type": "n8n-nodes-base.webhook",
        "position": [
          0,
          0
        ],
        "webhookId": "46141750-b609-4b2e-bce9-7c500c73d358",
        "typeVersion": 2
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "Tu es un expert en extraction de données (Parser). Analyse l'email immobilier ci-dessous. Extrais STRICTEMENT les entités suivantes au format JSON valide, sans texte avant ni après (pas de markdown ```json) :\n- first_name (String, Capitalize, 'Inconnu' si vide)\n- last_name (String, UPPERCASE, 'Inconnu' si vide)\n- phone (String, format international +33..., nettoyer espaces/points)\n- email (String)\n- portal_source (String, ex: SeLoger, Leboncoin, BienIci)\n- property_ref (String, référence du bien)\n- user_message (String, le message du client nettoyé des signatures)\n- lead_intent (String, Enum: 'VISITE', 'INFO', 'GENERIQUE')",
                "role": "system"
              },
              {
                "content": "=Sujet : {{ $json.subject || $json.body.subject }}\nCorps : {{ $json.text || $json.body.text }}"
              }
            ]
          },
          "options": {
            "temperature": 0
          }
        },
        "id": "880f957c-1745-4e99-aff3-ac48e303dc07",
        "name": "OpenAI Parser",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          448,
          0
        ],
        "typeVersion": 1,
        "credentials": {
          "openAiApi": {
            "id": "jmxBwWWH5iwSDGDl",
            "name": "Immocope - Dashboard"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Récupération sécurisée du contenu (peu importe comment OpenAI le nomme)\nconst inputData = $input.first().json;\n// On cherche dans text, message.content, content ou output\nconst openaiResponse = inputData.text || inputData.message?.content || inputData.content || inputData.output;\n\nif (!openaiResponse) {\n  throw new Error(\"Aucune réponse trouvée dans le nœud OpenAI précédent\");\n}\n\ntry {\n  let cleanedResponse = openaiResponse.trim();\n  \n  // Nettoyage des balises Markdown (```json et ```)\n  cleanedResponse = cleanedResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  \n  // Conversion du texte en Objet JSON\n  const parsedData = JSON.parse(cleanedResponse);\n  \n  return { json: parsedData };\n\n} catch (error) {\n  // En cas d'erreur, on renvoie un objet vide propre pour ne pas casser le workflow\n  return {\n    json: {\n      first_name: 'Inconnu',\n      last_name: 'Inconnu',\n      phone: null,\n      email: null,\n      portal_source: 'Erreur',\n      property_ref: null,\n      user_message: openaiResponse, // On garde le message brut au cas où\n      lead_intent: 'ERREUR_PARSING',\n      error: error.message\n    }\n  };\n}"
        },
        "id": "cab1c173-5752-41a9-8f4e-89e060d13b17",
        "name": "JSON Parser",
        "type": "n8n-nodes-base.code",
        "position": [
          800,
          0
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "operation": "upsert",
          "base": {
            "__rl": true,
            "value": "appAlX54ulRh5izR8",
            "mode": "list",
            "cachedResultName": " Immocope - Base LQ",
            "cachedResultUrl": "https://airtable.com/appAlX54ulRh5izR8"
          },
          "table": {
            "__rl": true,
            "value": "tbln5eyKql7jYhoMv",
            "mode": "list",
            "cachedResultName": "LEADS",
            "cachedResultUrl": "https://airtable.com/appAlX54ulRh5izR8/tbln5eyKql7jYhoMv"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "PAUSE_IA": false,
              "Phone": "={{ $('JSON Parser').item.json.phone }}",
              "Nom": "={{ $('JSON Parser').item.json.last_name }}",
              "Prénom": "={{ $('JSON Parser').item.json.first_name }}",
              "Bien_Associe": "={{ $('JSON Parser').item.json.property_ref }}",
              "Conversation_JSON": "={{ $json.full_conversation_json }}",
              "Email": "={{ $('JSON Parser').item.json.email }}",
              "Notes": "={{ $('JSON Parser').item.json.lead_intent }}",
              "Source": "={{ $('JSON Parser').item.json.portal_source }}"
            },
            "matchingColumns": [
              "Phone"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Nom",
                "displayName": "Nom",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Prénom",
                "displayName": "Prénom",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Bien_Associe",
                "displayName": "Bien_Associe",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Délai",
                "displayName": "Délai",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Projet",
                "displayName": "Projet",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Conversation_JSON",
                "displayName": "Conversation_JSON",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Financement",
                "displayName": "Financement",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Statut",
                "displayName": "Statut",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Source",
                "displayName": "Source",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Notes",
                "displayName": "Notes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Score",
                "displayName": "Score",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "CHAUD",
                    "value": "CHAUD"
                  },
                  {
                    "name": "TIEDE",
                    "value": "TIEDE"
                  },
                  {
                    "name": "FROID",
                    "value": "FROID"
                  }
                ],
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Thread_ID",
                "displayName": "Thread_ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Date de création",
                "displayName": "Date de création",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Dernière mise à jour",
                "displayName": "Dernière mise à jour",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Agent_en_charge",
                "displayName": "Agent_en_charge",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Date_prise_en_charge",
                "displayName": "Date_prise_en_charge",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "PAUSE_IA",
                "displayName": "PAUSE_IA",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "date_visite",
                "displayName": "date_visite",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Google_Calendar_Event_ID",
                "displayName": "Google_Calendar_Event_ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "105b377c-a96e-47e1-bba8-ffef4a4f68b0",
        "name": "Airtable - Upsert Lead",
        "type": "n8n-nodes-base.airtable",
        "position": [
          2032,
          0
        ],
        "typeVersion": 2,
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "credentials": {
          "airtableTokenApi": {
            "id": "fRYDSYa6kI0PBzDW",
            "name": "Immocope - BASE LQ"
          }
        }
      },
      {
        "parameters": {
          "html": "={{ $json.body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.markdown",
        "typeVersion": 1,
        "position": [
          224,
          0
        ],
        "id": "c42105b0-b3eb-45c6-8e35-308ca1ed644b",
        "name": "Markdown1"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "941847569010457",
          "recipientPhoneNumber": "={{ $('JSON Parser').item.json.phone }}",
          "textBody": "={{ $('Message a model').item.json.output[0].content[0].text }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          2256,
          0
        ],
        "id": "a25a11bc-a57b-45cd-87df-4aefa74fb1e1",
        "name": "Send message",
        "webhookId": "f5781089-18f3-4606-8c17-f7cc8ad2af6d",
        "credentials": {
          "whatsAppApi": {
            "id": "JsMi22nlMo36M4Ip",
            "name": "WhatsApp account Ali"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appAlX54ulRh5izR8",
            "mode": "list",
            "cachedResultName": " Immocope - Base LQ",
            "cachedResultUrl": "https://airtable.com/appAlX54ulRh5izR8"
          },
          "table": {
            "__rl": true,
            "value": "tbltRiy8gtlyMWV0V",
            "mode": "list",
            "cachedResultName": "BIENS",
            "cachedResultUrl": "https://airtable.com/appAlX54ulRh5izR8/tbltRiy8gtlyMWV0V"
          },
          "filterByFormula": "=\"={Reference} = '{{ $json.property_ref }}'\"",
          "returnAll": false,
          "limit": 1,
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1024,
          0
        ],
        "id": "04981be4-fa25-47db-b93c-8907e56cecaa",
        "name": "Get Property",
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "credentials": {
          "airtableTokenApi": {
            "id": "fRYDSYa6kI0PBzDW",
            "name": "Immocope - BASE LQ"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "Tu es Sarah, assistante immobilière.\nTon objectif : Répondre au premier contact d'un client par WhatsApp.\n\nStructure OBLIGATOIRE de ta réponse :\n\n1.RÈGLE D'INTRODUCTION (PREMIER MESSAGE UNIQUEMENT) :\nSi c'est le tout début de la conversation, tu DOIS commencer par cette phrase exacte :\n\"Sarah - Équipe Immocope\n\nBonjour,\n\nVous venez d'envoyer un message sur Leboncoin au sujet de [Description]. \"\n##SAUT DE LIGNE\n2. Réponds précisément à la question du client en utilisant les infos du bien ci-dessous. (Si l'info est absente, dis simplement \"Je vérifie ce point précis\").\n3. Enchaîne IMMÉDIATEMENT (avec saut de ligne ) par cette question de qualification : \"C'est pour un investissement ou pour y habiter ?\"\n\nTON : SMS, direct, concis, chaleureux. Max 2 phrases avant la question finale."
              },
              {
                "content": "=INFOS DU BIEN :\nDescription : {{ $json.Description || 'Non disponible' }}\nInfos Techniques : {{ $json.Infos_Techniques || 'Non disponible' }}\nPrix : {{ $json.Prix || 'Non disponible' }}\n\nQUESTION DU CLIENT :\n\"{{ $('JSON Parser').item.json.user_message }}\"\n\nRédige la réponse maintenant."
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          1456,
          0
        ],
        "id": "5ded5dee-600a-4700-97e5-686c69e9b868",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "jmxBwWWH5iwSDGDl",
            "name": "Immocope - Dashboard"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Récupérer le message du PROSPECT (depuis le parser)\nconst userMessage = $('JSON Parser').item.json.user_message || \"Message initial non détecté\";\n\n// 2. Récupérer la réponse de l'IA (Correction du chemin)\nconst inputData = $input.first().json;\n\n// On va chercher : output[0] -> content[0] -> text\n// Les '?' servent à éviter le crash si une case est vide\nconst aiResponse = inputData.output?.[0]?.content?.[0]?.text || \"Pas de réponse IA\";\n\n// 3. Construire le tableau d'historique\nconst history = [\n  {\n    role: \"user\",\n    text: userMessage,\n    time: new Date().toISOString()\n  },\n  {\n    role: \"assistant\",\n    text: aiResponse,\n    // On ajoute 2 secondes pour qu'il s'affiche bien APRÈS le message user\n    time: new Date(new Date().getTime() + 2000).toISOString()\n  }\n];\n\n// 4. Renvoyer le JSON pour Airtable\nreturn {\n  json: {\n    // On garde les données de l'IA pour la suite\n    ...inputData,\n    // La variable pour le Dashboard\n    full_conversation_json: JSON.stringify(history)\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1808,
          0
        ],
        "id": "f2f6f7c2-211f-4caa-a4b5-479bb1540050",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "25f6970c-00c3-4827-9423-9736a52d9940",
                "leftValue": "={{ $json.Type }}",
                "rightValue": "Vente",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1248,
          32
        ],
        "id": "4eff6f7c-f9db-4071-9c2c-53ec7c29fd8b",
        "name": "If"
      },
      {
        "parameters": {
          "content": "## Réception des mails et extraction des informations\n",
          "height": 448,
          "width": 1024
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -64,
          -176
        ],
        "typeVersion": 1,
        "id": "72890b81-4c1b-4924-a171-edccb799facc",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Vérification du type (Locaton / Vente)",
          "height": 592,
          "width": 448,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          976,
          -240
        ],
        "typeVersion": 1,
        "id": "853e9267-86c7-4620-bc16-bfc9d0bd25aa",
        "name": "Sticky Note1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1504,
          416
        ],
        "id": "bf4b93af-a133-43ef-83be-e9ee1794df7d",
        "name": "STOP"
      },
      {
        "parameters": {
          "content": "## Rédaction de la réponse -> Enregistrement des infos dans le CRM - > Envoie du message",
          "height": 304,
          "width": 1072,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1440,
          -112
        ],
        "typeVersion": 1,
        "id": "12912e62-7a94-44b5-9f74-002381c190f4",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## AJOUTER NOEUD CRM",
          "height": 128,
          "width": 160,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2000,
          192
        ],
        "typeVersion": 1,
        "id": "5168c503-44e7-4e8a-bfee-66987ab75c94",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## REMPLACER PAR NOEUD CRM",
          "height": 112,
          "width": 176,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          992,
          -112
        ],
        "typeVersion": 1,
        "id": "d4428f49-96bf-4102-8819-1f090332f02e",
        "name": "Sticky Note4"
      }
    ],
    "connections": {
      "JSON Parser": {
        "main": [
          [
            {
              "node": "Get Property",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Parser": {
        "main": [
          [
            {
              "node": "JSON Parser",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable - Upsert Lead": {
        "main": [
          [
            {
              "node": "Send message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Email Reception": {
        "main": [
          [
            {
              "node": "Markdown1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Markdown1": {
        "main": [
          [
            {
              "node": "OpenAI Parser",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Property": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Airtable - Upsert Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "STOP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ali Mekzine",
    "name": "Version 5dcb8077",
    "description": "",
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-31T18:03:57.046Z",
        "id": 23,
        "workflowId": "O58ZyWBaTtVkE13B",
        "versionId": "5dcb8077-6d80-42f4-bf08-cb47941a5f86",
        "event": "activated",
        "userId": "2ab68add-6f42-4dae-b822-46536c971ccf"
      }
    ]
  }
}